<div class="container">
  <div class="grid">
    <div class="g-col-12 border rounded-3 p-4 bg-white">
      <h1>Welcome to Viewing Party!</h1>
      <% if !current_user %>
        <h3>Login or register to get started.</h3>
      <% end %>
      <div class="text-start">
        <h4>Test Accounts</h4>
        <ul>
          <li>Email: bb@test.com, pw: test123</li>
          <li>Email: jj@test.com, pw: test123</li>
          <li>Email: ss@test.com, pw: test123</li>
          <li>Email: rr@test.com, pw: test123</li>
          <li>Email: admin@test.com, pw: test123 (admin access)</li>
        </ul>
        <h4>About</h4>
        <p>View more information about the project on the GitHub Repository README linked below. To test the functionality of the app you can use one of the test accounts listed above, or register as a new user. </p>
      </div>
    </div>
  </div>
</div>